[workspace]
members = [
    "geo-features",
    "geo-geom-type",
    "geo-projected",
    "rgis-camera",
    "rgis-cli",
    "rgis-events",
    "rgis-file-loader",
    "rgis-geo-ops",
    "rgis-keyboard",
    "rgis-layer-id",
    "rgis-layers",
    "rgis-library",
    "rgis-mouse",
    "rgis-network",
    "rgis-renderer",
    "rgis-settings",
    "rgis-ui",
    "rgis-units",
    "rgis",
    "time-logger",
    "transform",
]
resolver = "2"

[profile.release]
debug = true

[patch.crates-io]
bevy_egui = { git = 'https://github.com/frewsxcv/bevy_egui.git', branch = 'patch-1' }
