[package]
name = "rgis"
version = "0.1.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
license = "GPL-3.0-only"

[dependencies]
geo = "0.6"
geojson = "0.9"
piston = "0.33.0"
piston2d-graphics = "0.21.0"
piston2d-opengl_graphics = "0.46"
pistoncore-sdl2_window = "0.44.0"
serde_json = "1.0"
poly2tri = "0.1"
