[package]
name = "rgis-renderer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.9", default-features = false, features = [
    "bevy_winit",
    "bevy_core_pipeline",
    "bevy_render",
    "bevy_sprite",
    "bevy_ui",
    "wayland",
    "png",
] }
geo = "0.24"
geo-bevy = { git = "https://github.com/frewsxcv/geo-bevy.git", branch = "frewsxcv/earcut" }
geo-projected = { path = "../geo-projected" }
rgis-events = { path = "../rgis-events" }
rgis-layer-id = { path = "../rgis-layer-id" }
rgis-layers = { path = "../rgis-layers" }
bevy_jobs = { git = "https://github.com/frewsxcv/bevy_jobs" }
