[package]
name = "rgis-file-loader"
version = "0.1.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
edition = "2021"

[dependencies]
async-channel = "1"
bevy = { version = "0.6", default-features = false, features = [
    "bevy_winit",
    "bevy_core_pipeline",
    "bevy_render",
    "bevy_sprite",
    "bevy_ui",
] }
geo = "0.19"
geojson = { version = "0.22", features = ["geo-types"] }
rgis-cli = { path = "../rgis-cli" }
rgis-layers = { path = "../rgis-layers" }
rgis-layer-id = { path = "../rgis-layer-id" }
rgis-settings = { path = "../rgis-settings" }
serde_json = "1"
time-logger = { path = "../time-logger" }
rgis-events = { path = "../rgis-events" }
