[package]
name = "rgis-file-loader"
version = "0.1.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
edition = "2021"

[dependencies]
bevy = { version = "0.8", default-features = false, features = [
    "bevy_winit",
    "bevy_core_pipeline",
    "bevy_render",
    "bevy_sprite",
    "bevy_ui",
    "wayland",
    "png",
] }
geo-features = { path = "../geo-features" }
geo-file-loader = { path = "../geo-file-loader" }
rgis-events = { path = "../rgis-events" }
rgis-network = { path = "../rgis-network" }
rgis-units = { path = "../rgis-units" }
bevy_jobs = { git = "https://github.com/frewsxcv/bevy_jobs" }
serde_json = "1"
time-logger = { path = "../time-logger" }
thiserror = "1"
