[package]
name = "rgis"
version = "0.1.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
bevy = { version = "0.9", default-features = false, features = [
    "bevy_winit",
    "bevy_core_pipeline",
    "bevy_render",
    "bevy_sprite",
    "bevy_ui",
    "wayland",
    "png",
] }
geo = "0.24"
rgis-camera = { path = "../rgis-camera" }
rgis-file-loader = { path = "../rgis-file-loader" }
rgis-keyboard = { path = "../rgis-keyboard" }
rgis-layers = { path = "../rgis-layers" }
rgis-mouse = { path = "../rgis-mouse" }
rgis-network = { path = "../rgis-network" }
rgis-renderer = { path = "../rgis-renderer" }
rgis-settings = { path = "../rgis-settings" }
bevy_jobs = { git = "https://github.com/frewsxcv/bevy_jobs" }
rgis-transform = { path = "../rgis-transform" }
rgis-ui = { path = "../rgis-ui" }
time-logger = { path = "../time-logger" }
rgis-events = { path = "../rgis-events" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rgis-cli = { path = "../rgis-cli" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
bevy-web-resizer = "4.0"
wasm-bindgen = "0.2"
