[package]
name = "rgis-network"
version = "0.1.0"
authors = ["Corey Farwell <coreyf@rwell.org>"]
edition = "2021"

[dependencies]
async-channel = "1"
bevy = { version = "0.8", default-features = false, features = [
    "bevy_winit",
    "bevy_core_pipeline",
    "bevy_render",
    "bevy_sprite",
    "bevy_ui",
    "wayland",
] }
ehttp = "0.2"
bevy_jobs = { git = "https://github.com/frewsxcv/bevy_jobs" }
