name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  x86-64-linux-build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: desktop-${{ runner.os }}-linux-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get clean && sudo apt-get update
          sudo apt-get install -y pkg-config libudev-dev libxcb-shape0-dev libxcb-xfixes0-dev libxcb1-dev libasound2-dev libgtk-3-dev
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build
        run: cargo build --target x86_64-unknown-linux-gnu --verbose
      - name: Run tests
        run: cargo test --target x86_64-unknown-linux-gnu --verbose

  wasm32-build-and-serve:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: web-${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-v1
      # https://github.com/rust-lang/rust/issues/131960
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
      # https://github.com/rustwasm/wasm-bindgen/issues/4211
      - run: cargo install --force wasm-bindgen-cli --git "https://github.com/rustwasm/wasm-bindgen"
      - name: Install wasm Rust target
        run: rustup target add wasm32-unknown-unknown
      - name: Install system dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get clean && sudo apt-get update
          sudo apt-get install -y pkg-config libudev-dev libxcb-shape0-dev libxcb-xfixes0-dev libxcb1-dev
      - name: Install node dependencies
        run: (cd www && npm install)
      - name: Build and publish
        run: ./.github/publish.sh
      - name: Install Playwright browsers
        run: cd www && npx playwright install --with-deps chromium
      - name: Run Playwright tests
        run: cd www && npx playwright test --update-snapshots
      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: www/playwright-report/
          retention-days: 30
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: www/dist/
          single_commit: true
